@import '../../node_modules/react-select/dist/react-select.css';
@import "colours";
@import "mixins";
@import "override-bootstrap3";
@import "override-react-select";
@import "footer";

$main-text-colour: #333333;
@font-face {
    font-family: "Frutiger W01";
    src: url("https://assets.nhs.uk/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix");
    src: url("https://assets.nhs.uk/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") format("eot"), url("https://assets.nhs.uk/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") format("woff2"), url("https://assets.nhs.uk/fonts/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") format("woff"), url("https://assets.nhs.uk/fonts/caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf") format("truetype"), url("https://assets.nhs.uk/fonts/7def0e34-f28d-434f-b2ec-472bde847115.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Frutiger W01";
    src: url("https://assets.nhs.uk/fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix");
    src: url("https://assets.nhs.uk/fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix") format("eot"), url("https://assets.nhs.uk/fonts/8c92eb68-ce37-4962-a9f4-5b47d336bd1c.woff2") format("woff2"), url("https://assets.nhs.uk/fonts/9bdfdcac-bbd4-46a9-9280-056c9a4438a2.woff") format("woff"), url("https://assets.nhs.uk/fonts/5dae3a6e-9b07-4c2f-aed2-1f5b8951261b.ttf") format("truetype"), url("https://assets.nhs.uk/fonts/eae74276-dd78-47e4-9b27-dac81c3411ca.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Frutiger W01";
    src: url("https://assets.nhs.uk/fonts/fb1e4ad2-83fa-4735-aa1b-900f4a36749f.eot?#iefix");
    src: url("https://assets.nhs.uk/fonts/fb1e4ad2-83fa-4735-aa1b-900f4a36749f.eot?#iefix") format("eot"), url("https://assets.nhs.uk/fonts/221b3252-186e-4a32-a90b-cc0c3a4817d7.woff2") format("woff2"), url("https://assets.nhs.uk/fonts/a061c7a6-3b14-451e-883c-0f1661ac3d76.woff") format("woff"), url("https://assets.nhs.uk/fonts/558394f3-8981-4be9-8a8a-c23488eb9b6d.ttf") format("truetype"), url("https://assets.nhs.uk/fonts/1c437efb-925e-4bc5-96d0-c706bb400696.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}

#stretch_wrapper {
    min-height: 100vh;
}

footer {
    position: relative;
    clear: both;
}

.link-list {
    list-style: none;
    padding-left: 0;
    text-decoration: underline;
}

//Temporary navbar container fix
.navbar-toggler {
    z-index: 1;
}

.navbar {
    border: 0;
    margin: 0;
}

.navbar-header {
    background: url('./assets/images/logotype-nhs-colour.png') 10px center no-repeat;
    padding-left: 95px;
}

.navbar-brand {
    white-space: nowrap;
}

@media (max-width: 500px) {
    .navbar-brand {
        font-size: 20px;
    }
}

@media (max-width: 430px) {
    .navbar-brand {
        font-size: 16px;
    }
}

.navbar-inverse {
    background-color: $blue;
    border-radius: 0;
    .navbar-brand {
        color: $white;
    }
    .navbar-nav {
        .active> {
            a,
            a:focus,
            a:hover {
                background-color: transparent;
            }
        }
        >li> {
            a {
                color: $blue-50;
            }
            a:hover {
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
    .navbar-toggle {
        border-color: $blue-50;
        &:hover,
        &:focus {
            background-color: $blue;
        }
    }
    .navbar-toggle .icon-bar {
        background-color: $blue-50;
    }
    .navbar-collapse {
        border: 0;
    }
}

@media (max-width: 576px) {
    nav>.container {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .blue-border-top {
        border-top: 1px #ddd solid;
        width: 100%;
    }
}

.card {
    height: 100%;
}

input[type="checkbox"] {
    vertical-align: middle;
}

.row-stripe {
    background-color: $grey-5;
}

.hidden {
    display: none;
}

@include apply_to_cells(table-borderless) {
    border: none;
}

@include apply_to_cells(vertical-align) {
    vertical-align: middle;
}

@include apply_to_cells(vertical-align-top) {
    vertical-align: top;
}

.table-details {
    tbody {
        th {
            white-space: nowrap;
            width: 1px;
        }
    }
    td,
    th {
        vertical-align: top;
        font-weight: normal;
    }
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.text-wrap-all {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.buttons_column_width {
    width: 3em;
}

.large_paragraph_space p {
    margin-top: 3rem;
}

.no-padding {
    padding: 0 !important;
}

#progress_steps {
    li {
        display: inline-block;
        list-style-type: none;
        padding: 0 3px;
    }
    li:before {
        content: "";
    }
    text-align: center;
}

.text-success {
    color: #4B780C !important;
}

.text-warning {
    color: #915E00 !important;
}

.text-changes {
    background-color: $yellow;
    border-left: 4px solid #D6991B;
}

.closed-service-border-marker {
    border-left: 10px solid $yellow !important;
}

$circle-radius: 25px;
.closed-service {
    display: inline-flex;
    width: 100%;
    color: rgb(135, 26, 18);
    .circle {
        background-color: $red;
        border: 4px solid $white;
        height: $circle-radius;
        width: $circle-radius;
        min-height: $circle-radius;
        min-width: $circle-radius;
        max-height: $circle-radius;
        max-width: $circle-radius;
        border-radius: 75%;
        -moz-border-radius: 75%;
        -webkit-border-radius: 75%;
    }
}

#search_results {
    margin-bottom: 0;

    > tbody > tr > td + td {
       padding-top: 13px;
   }
}

// Bootstrap overrides
@include bootstrap_color_override('primary',
$blue,
$dark-blue);
@include bootstrap_color_override('success',
$green,
$dark-green);
@include bootstrap_color_override('info',
$blue-50);
@include bootstrap_color_override('warning',
$yellow);
@include bootstrap_color_override('danger',
$red);
.label {
    display: inline-block;
    padding: .3em .4em;
    font-size: 85%;
    border-radius: .4rem;
    margin: .25em;
}

.in {
    opacity: 1 !important;
}

.glyphicon {
    top: 2px;
}

.time-label {
    font-weight: normal;
}

// Bootstrap extensions
$more_muted_opacity: 0.5;
.text-muted-more {
    color: rgba(#636c72, $more_muted_opacity) !important;
}

a.text-muted-more:focus,
a.text-muted-more:hover {
    color: rgba(#4b5257, $more_muted_opacity) !important;
}

@media (max-width: 576px) {
    .btn-xxs-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-xxs-block,
    input[type="reset"].btn-xxs-block,
    input[type="button"].btn-xxs-block {
        width: 100%;
    }
    .btn-block+.btn-xxs-block,
    .btn-xxs-block+.btn-block,
    .btn-xxs-block+.btn-xxs-block {
        margin-top: 0.5rem;
    }
}

// base on panel header
.label-danger-inverse {
    color: #643232;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.label-success-inverse {
    color: #214421;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.label-warning-inverse {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}

.label-default-inverse {
    color: $main-text-colour;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
}

.table-success-stripe,
.table-success-stripe>th,
.table-success-stripe>td {
    background-color: #d5e6ce;
}

label.btn.disabled,
label.btn[disabled] {
    cursor: default !important;
    opacity: 1 !important;
}

.btn-link {
    text-align: left;
}

// Imported from bootstrap 4
@import "bootstrap4_backport";
.blockquote {
    font-size: inherit;
    border-left: 6px solid #ccc;
}


/* Spinner Circle Rotation */

$spButtonCol: #ffffff;
$spCol: #000000;
.sp {
    border: 4px rgba($spButtonCol, 0.25) solid;
    border-top: 4px rgba($spButtonCol, 1) solid;
    width: 1.2em;
    height: 1.2em;
    clear: both;
    display: inline-flex;
    margin: auto;
}

.sp-circle {
    border-radius: 50%;
    -webkit-animation: spCircRot .66s infinite linear;
    animation: spCircRot .66s infinite linear;
}

@-webkit-keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.gds-checkbox {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    input {
        margin: 0;
        display: table-cell;
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
    }
    label {
        margin: 0 1em 0 0;
        vertical-align: middle;
        cursor: pointer;
    }
    label:before {
        vertical-align: middle;
        display: inline-block;
        width: 34px;
        height: 34px;
        border: 2px solid $main-text-colour;
        background: transparent;
        content: "";
        margin-right: 0.5em;
    }
    label:after {
        vertical-align: middle;
        left: 9px;
        top: 11px;
        position: absolute;
        width: 19px;
        height: 7px;
        border-left: 3px solid $main-text-colour;
        border-bottom: 3px solid $main-text-colour;
        content: "";
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    input {
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 38px;
        height: 38px;
        z-index: 1;
        margin: 0;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    input[type=checkbox]:focus + label:before {
      @include gds-focus;
    }
    input:checked+label:after {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.addhours {
    background: url("./assets/images/plus.png") no-repeat;
    background-size: 14px 16px;
    background-position: 1px 4px;
    padding-left: 0.9em;
    font-size: 0.96em;
    position: relative;
    left: 2px;
    &:after {
        content: 'Add more hours';
        color: #005eb8;
        margin-left: 0.3em;
        position: relative;
        top: 3px;
    }
}

.removehours {
    background-size: 18px 18px;
    background-position-y: 3px;
    padding-left: 70px;
    font-size: 0.96em;
    padding-bottom: 5px;
    position: relative;
    top: 2px;
    vertical-align: middle;

    @media(min-width: 768px) {
        padding-left: 25px;
        &::before {
            content: ' Remove';
            color: #005eb8;
            position: relative;
            top: 3px;
        }
    }

}

body {
    margin: 20px;
  }
  
  /* bootstrap-demo is a custom classname to increases the specificity of our styles. It can be anything. 
     * The idea is that it is easy to extend/override builtin styles with very little effort.
     */
  
  .bootstrap-demo .dropdown-trigger {
    border-radius: 0.25rem;
  }
  
  .bootstrap-demo .dropdown-trigger>span:after {
    font-size: 12px;
    color: #555;
  }
  
  .bootstrap-demo .toggle {
    font: normal normal normal 12px/1 FontAwesome;
    color: #555;
  }
  
  .bootstrap-demo .toggle.collapsed::after {
    content: "\f067";
  }
  
  .bootstrap-demo .toggle.expanded::after {
    content: "\f068";
  }
  
  .node {
    list-style: none;
    white-space: nowrap;
    padding: 4px
  }
  
  .toggle {
    white-space: pre;
    margin-right: 4px
  }
  
  .searchModeOn .toggle {
    display: none
  }
  
  .toggle:after {
    content: " "
  }
  
  .toggle.collapsed:after {
    cursor: pointer;
    content: "+"
  }
  
  .toggle.expanded:after {
    cursor: pointer;
    content: "-"
  }
  
  .node.leaf.collapsed {
    display: none
  }
  
  .checkbox-item {
    vertical-align: middle;
    margin: 0 4px 0 0
  }
  
  .match-in-children.hide .node-label {
    opacity: .5
  }
  
  .tag {
    background-color: #f4f4f4;
    border: 1px solid #e9e9e9;
    padding: 2px 0 2px 2px;
    border-radius: 2px;
    display: inline-block
  }
  
  .tag-remove {
    color: #a0a0a0;
    font-size: 75%;
    line-height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none
  }
  
  .node>label {
    cursor: pointer;
    margin-left: 2px
  }
  
  .tag-list {
    display: inline;
    padding: 0;
    margin: 0
  }
  
  .tag-item {
    display: inline-block;
    margin: 4px
  }
  
  .tag-item .search {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none
  }
  
  .tag-item:last-child {
    margin-right: 4px
  }
  
  .hide:not(.match-in-children) {
    display: none
  }
  
  .react-dropdown-tree-select .dropdown {
    position: relative;
    display: table
  }
  
  .react-dropdown-tree-select .dropdown .dropdown-trigger {
    padding: 4px;
    line-height: 20px;
    max-height: 200px;
    display: inline-block;
    overflow: auto;
    border: 1px solid #b9b9b9
  }
  
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow {
    cursor: pointer
  }
  
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after {
    content: "\25BC";
    vertical-align: middle;
    color: #3c3c3c;
    margin-right: 2px
  }
  
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after {
    content: "\25B2";
    vertical-align: middle;
    color: #3c3c3c;
    margin-right: 2px
  }
  
  .react-dropdown-tree-select .dropdown .dropdown-content {
    position: absolute;
    padding: 4px;
    z-index: 1;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .15)
  }
  
  .react-dropdown-tree-select .dropdown .dropdown-content ul {
    margin: 0;
    padding: 0
  }
  
  /*# sourceMappingURL=styles.css.map*/
  /* component styles */
  .hide:not(.match-in-children) {
    display: none;
  }
  
  .node {
    list-style: none;
    white-space: nowrap;
    padding: 4px;
  }
  
  .toggle {
    white-space: pre;
    margin-right: 4px;
  }
  
  .searchModeOn .toggle {
    display: none;
  }
  
  .toggle::after {
    content: ' ';
  }
  
  .toggle.collapsed::after {
    cursor: pointer;
    content: '+';
  }
  
  .toggle.expanded::after {
    cursor: pointer;
    content: '-';
  }
  
  .node.leaf.collapsed {
    display: none;
  }
  
  .checkbox-item {
    vertical-align: middle;
    margin: 0 4px 0 0;
  }
  
  .match-in-children.hide .node-label {
    opacity: 0.5;
  }
  
  .node > label {
    cursor: pointer;
    margin-left: 2px;
  }
  
  .tag-list {
    display: inline;
    padding: 0;
    margin: 0;
  }
  
  .tag-item {
    display: inline-block;
    margin: 4px;
  
    .search {
      border: none;
      border-bottom: solid 1px #ccc;
      outline: none;
    }
  }
  
  .tag-item:last-child {
    margin-right: 4px;
  }

  .form-control {
    border-radius: 3px;
  }
  
  
  .react-dropdown-tree-select {
    .dropdown {
      position: relative;
      display: table;
  
      .dropdown-trigger {
        padding: 4px;
        line-height: 20px;
        max-height: 200px;
        display: inline-block;
        overflow: auto;
        border-radius: 3px;
        border: 2px solid rgb(0, 0, 0);
  
        &.arrow {
          cursor: pointer;
  
          &.bottom::after {
            content: '\25BC';
            vertical-align: middle;
            color: #3c3c3c;
            margin-right: 2px;
          }
  
          &.top::after {
            content: '\25B2';
            vertical-align: middle;
            color: #3c3c3c;
            margin-right: 2px;
          }
        }
      }
  
      .dropdown-content {
        position: absolute;
        padding: 4px;
        z-index: 1;
        background: white;
        border-radius: 3px;
        border: rgba(0, 0, 0, 1) 2px solid;
  
        ul {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  